In [1]:
import pandas as pd
import numpy as np


flight_list = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 'Budapest_PaRis', 'Brussels_londOn'], 
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085], 'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]], 
                   'Airline': ['KLM(!)', ' (12)', '(British Airways. )', '12. Air France', '"Swiss Air"']})


print('Update NaN for Flight numbers')
flight_list['FlghtNumber'] =flight_list['FlightNumber'].interpolate().astype(int)
print(flight_list)

print('Create To and From Seprate column from From_To')
flight_list['From'] = flight_list['From_To'].str.split('_').str[0]
flight_list['To'] = flight_list['From_To'].str.split('_').str[0]
print(flight_list)
print('Delete column From_To')
flight_list.drop(flight_list.columns[flight_list.columns.str.contains('From_TO',case = False)],axis = 1,inplace=True)
print(flight_list)
print('Noramlize data of  To and From')
flight_list['To'] = flight_list['To'].str.capitalize()
flight_list['From'] = flight_list['From'].str.capitalize()
print(flight_list)
print('Create seperate Delay Columns')
delays = pd.DataFrame(flight_list['RecentDelays'].values.tolist())

delays = delays.rename(columns={0: "delay_1", 1: "delay_2", 2: "delay_3"})

flight_list= pd.concat([flight_list,delays],axis=1)
flight_list.drop('RecentDelays', axis=1, inplace=True)
print(flight_list)

Update NaN for Flight numbers
               Airline  FlightNumber           From_To  RecentDelays  \
0               KLM(!)       10045.0      LoNDon_paris      [23, 47]
1                 (12)           NaN      MAdrid_miLAN            []
2  (British Airways. )       10065.0  londON_StockhOlm  [24, 43, 87]
3       12. Air France           NaN    Budapest_PaRis          [13]
4          "Swiss Air"       10085.0   Brussels_londOn      [67, 32]

   FlghtNumber
0        10045
1        10055
2        10065
3        10075
4        10085
Create To and From Seprate column from From_To
               Airline  FlightNumber           From_To  RecentDelays  \
0               KLM(!)       10045.0      LoNDon_paris      [23, 47]
1                 (12)           NaN      MAdrid_miLAN            []
2  (British Airways. )       10065.0  londON_StockhOlm  [24, 43, 87]
3       12. Air France           NaN    Budapest_PaRis          [13]
4          "Swiss Air"       10085.0   Brussels_londOn      [67, 32]

   FlghtNumber      From        To
0        10045    LoNDon    LoNDon
1        10055    MAdrid    MAdrid
2        10065    londON    londON
3        10075  Budapest  Budapest
4        10085  Brussels  Brussels
Delete column From_To
               Airline  FlightNumber  RecentDelays  FlghtNumber      From  \
0               KLM(!)       10045.0      [23, 47]        10045    LoNDon
1                 (12)           NaN            []        10055    MAdrid
2  (British Airways. )       10065.0  [24, 43, 87]        10065    londON
3       12. Air France           NaN          [13]        10075  Budapest
4          "Swiss Air"       10085.0      [67, 32]        10085  Brussels

         To
0    LoNDon
1    MAdrid
2    londON
3  Budapest
4  Brussels
Noramlize data of  To and From
               Airline  FlightNumber  RecentDelays  FlghtNumber      From  \
0               KLM(!)       10045.0      [23, 47]        10045    London
1                 (12)           NaN            []        10055    Madrid
2  (British Airways. )       10065.0  [24, 43, 87]        10065    London
3       12. Air France           NaN          [13]        10075  Budapest
4          "Swiss Air"       10085.0      [67, 32]        10085  Brussels

         To
0    London
1    Madrid
2    London
3  Budapest
4  Brussels
Create seperate Delay Columns
               Airline  FlightNumber  FlghtNumber      From        To  \
0               KLM(!)       10045.0        10045    London    London
1                 (12)           NaN        10055    Madrid    Madrid
2  (British Airways. )       10065.0        10065    London    London
3       12. Air France           NaN        10075  Budapest  Budapest
4          "Swiss Air"       10085.0        10085  Brussels  Brussels

   delay_1  delay_2  delay_3
0     23.0     47.0      NaN
1      NaN      NaN      NaN
2     24.0     43.0     87.0
3     13.0      NaN      NaN
4     67.0     32.0      NaN